@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.logo{
    width: 70px;
    height: 70px;
}

body{
    background-color: $body;
}

html{
    position: relative;
    min-height: 100%;  
}

main{
    margin-bottom: 250px;
}

.justify{
    text-align: justify;
}

footer.foot{
    padding: 15px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

h1{
    font-family: "Akronim";
    font-size: 60px;
    color: #baad15d8;
}

p,h3,h2,h5,input{
    font-family: "Roboto Flex";
}

a,button{
    font-family: "Protest Strike";
}

.img_fond_zoo{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background-image: url(/images/zebre.jpg);
        background-size:cover;
        filter:brightness(0.3);
    }
    *{
    position: relative;
    }
    .img_fond_zoo_content{
        height: 300px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.form-label{
    color: $dark;
    font-family: "Roboto Flex";
}

.image-card{
    position:relative;
    &:hover{
        .titre-image, .action-image-buttons{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }
    .titre-image{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition:all 0.3s;
    }
    .action-image-buttons{
        position: absolute;
        top:0;
        left: 0;
        padding: 5px;
        width: 100%;
        display: flex;
        justify-content:space-between;
        opacity: 0;
        transition:all 0.3s;
    }
}





