@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.logo{
    width: 60px;
    height: 60px;
}

html{
    position: relative;
    min-height: 100%;
}
main{
    margin-bottom: 247px;
}

footer.foot{
    padding: 15px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

h3{
    font-family: "Crete Round";
}